.banner {
  display: flex;
  align-items: center;
  height: 400px;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://picsum.photos/800/400");
  background-size: cover;
  color: white;
  margin-bottom: 50px;
}
